.modal {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0 19px 0 19px;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.modal_opened {
  visibility: visible;
  pointer-events: all;
  transition-delay: 0.1s;
  opacity: 1;
  display: flex;
}

.modal__container {
  padding: 36px 36px 36px 36px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  max-width: 358px;
  width: 100%;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  padding-bottom: 25px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  padding-bottom: 13px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 29px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__close-button {
  background-image: url("../images/Close\ Icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
  padding: 0;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__save-button {
  background-color: #000;
  color: #fff;
  height: 50px;
  margin-top: 48px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.modal__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 520px) {
  .modal__close-button{
    height: 26px;
    width: 26px;
    left: 90%;
    margin-bottom: 13.62px;

  }
}